p {
  font-size: 5em;
  border: 15px dotted green;
  display: inline;
  margin: auto;
  padding: 40px;
  margin-left: 40px;

}

body {
  text-align:center;
  margin-top: 8em;
}

div {
  display: inline-block;
  font-size: 5em;
  border-right: 5px solid black;
}