h1 {
  color: blue;
  text-align: center;
  font-size: 6em;
  font-family: 'Poiret One', cursive;
  /*font-family: 'Playfair Display', serif;*/
  /*font-family: 'Josefin Sans', sans-serif;*/
}

#everything {
  position: relative;
  top: 6em;
}

#intro {
  text-align: center;
  font-size: 3em;
  font-family: 'Amatic SC', cursive;
}

#name {
  color: red;
  font-size: 1.2em;
}

#image_links {
  text-align: center;
}

#linked {
  margin-left: 1em;
}